.feturedNewsContainer
{
    
    padding: 5rem var(--leftRightPadding);
}

.featuredNewsHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.newsContainer
{
    margin: 2rem 0 3rem;
    padding: 1rem 0;
    border-top: 2px solid var(--blackColor);
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.newsImg
{
    margin-right: 1rem;
    overflow: hidden;
}
.newsImg img
{
    width: 100%;
    scale: 1.09;
    transition: all 0.25s ease;
}
.newsContainer:hover img
{
    scale: 1.05;
}
.newsContent 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nctopContent
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nctopContent .headings
{
    text-transform: uppercase;
}
.nctopContent .headings:hover
{
    text-decoration: underline;
}
.nctopContent .ncIcon
{
    margin-left: 3rem;
    width: 50px;
    height: 50px;
    transition: all 0.25s ease;
    
}
.newsContainer:hover .ncIcon
{
    transform: translateX(20px);
}


.pressText span
{
    font-weight: bold;
}

@media screen and (max-width:426px){
    .feturedNewsContainer
{
    
    padding: 2rem var(--leftRightPadding);
}
.newsContainer
{
    display: flex;
    flex-direction: column;
}

.newsContent 
{
    margin: 0.5rem 0;
}
}