.workPage 
{
    padding: 0rem var(--leftRightPadding);
    width: 100vw;
    overflow: hidden;
   
}

.workInfoContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.workInfo
{
    width: 50%;
}
.workInfo p 
{
    margin-bottom: 3rem;
}
.hugeHeadingClass
{
    display: flex;
    align-items: center;
}
.rIcon
{
    border: 10px solid var(--noiseBlackColor);
    border-radius: 50%;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
}
.works
{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 2rem 0 10rem;


}
.worksImageContainer 
{
    width: 100%;
    margin:0 0rem;
}
.imageContainer
{
    height: 500px;
    overflow: hidden;
}

.imageContainer img 
{
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease;
}
.imageContainer:hover img
{
    transform: scale(1.04);
}

.workContent .mediumPara
{
    text-transform: uppercase;
}
@media screen and (max-width:1025px) {
    .works
    {
       overflow: scroll;
    }
}

@media screen and (max-width:769px) {
    .works
    {
        margin: 2rem 0 5rem;
    }
    .workInfo p 
{
    margin-bottom: 2rem;
}
}

@media screen and (max-width:426px) {
    .workInfoContainer
{

    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
     border: 2px solid red;
}
.workInfo
{
    width: 100%;
}
.workInfo p 
{
    margin-bottom: 1.25rem;
}
.rIcon
{
    border-width: 10px;
    width: 100px;
    height: 100px;
    font-size: 3rem;
}
}