.workPage 
{
    padding: 0rem var(--leftRightPadding);
    /* border: 1px solid red; */
}


.workInfoContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.workInfo
{
    width: 50%;
}
.workInfo p 
{
    margin-bottom: 3rem;
}
.hugeHeadingClass
{
    display: flex;
    align-items: center;
}
.rIcon
{
    border: 10px solid var(--noiseBlackColor);
    border-radius: 50%;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

}

.works
{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 2rem 0;

}
.worksImageContainer 
{
    width: 100%;

    margin:0 1rem;
}
.imageContainer
{
    height: 550px;
    /* aspect-ratio: 3/4; */
    overflow: hidden;
}

.imageContainer img 
{
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease;
}
.imageContainer:hover img
{
    transform: scale(1.04);
}

.workContent .mediumPara
{
    text-transform: uppercase;
    margin: 0.75rem 0 0.25rem;
}

